body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h3 {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-evenly;
}

.flex-item {
  width: 400px;
  border: 5px solid black;
  border-radius: 5px;
  margin: 20px;
}

.flex-item img {
  max-width: 100%;
}

.paragraph {
  padding: 20px;
}

.acknowledgements-container {
  display: flex;
  justify-content: center;
}
